.wrapper {

  .day {
    padding: 7px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ecf8f8;
    transform: scale(1);
    transition: transform 300ms ease-in-out;

    &:hover {
      background-color: wheat;
      transform: scale(1.2);
    }

    &--selected {
      background-color: lemonchiffon;
    }

    &--disable {
      cursor: none;
      pointer-events: none;
      opacity: 0.5;
      transform: none;
    }
  }
}
