.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 700;
  z-index: 1;

  .select {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
    font-size: inherit;
    font-weight: inherit;
    background-color: #f1f1f1;
    color: inherit;
    padding: 0.5em;
    border-radius: 2px;
    cursor: pointer;
    z-index: 2;

    .text {
      margin-right: 30px;
      margin-left: 5px;
    }

    >img {
      width: 14px;
      position: absolute;
      top: 50%;
      right: 5px;
      transform: translateY(-50%);
    }

    .hidden {
      visibility: hidden;
    }
  }
}
