.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 280px;
  max-width: 280px;
  background-color: #001011;
  color: #daa520;
  padding: 1em;
  border-radius: 5px;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .today {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .icon {
    width: 20px;
  }

  .navbar {
    display: flex;
    gap: 20px;
  }

  button {
    border: none !important;
    padding: initial !important;
    background-color: transparent !important;
  }

  ul {
    position: absolute;
    right: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1em;
    background-color: #001011;
    border: 1px solid beige;
    border-radius: 5px;
    margin: 0;
    padding: 1em;
  }

  li {
    position: relative;
    list-style: none;
    text-align: center;
    padding: 1em;
    cursor: pointer;
  }

  li:not(:nth-child(3n))::after {
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    bottom: 10%;
    width: 2px;
    background-color: white;
  }

  li::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
    height: 2px;
    background-color: white;
  }

  li:nth-last-child(-n+3)::before {
    background-color: transparent;
  }
}
